{{define "Details" }}
{{template "_head"}}

<body>

  <div class="container">
    <div class="product-details">
      <h1 class="text-center mb-4">Detalhes do Produto</h1>

      <div class="form-group">
        <label for="productID">ID:</label>
        <p id="productID" class="form-control-plaintext">{{.ID}}</p>
      </div>

      <div class="form-group">
        <label for="productName">Nome:</label>
        <p id="productName" class="form-control-plaintext">{{.Name}}</p>
      </div>

      <div class="form-group">
        <label for="productDesc">Descrição:</label>
        <p id="productDesc" class="form-control-plaintext">{{.Desc}}</p>
      </div>

      <div class="form-group">
        <label for="productPrice">Preço:</label>
        <p id="productPrice" class="form-control-plaintext">R$ {{.Price}}</p>
      </div>

      <div class="form-group">
        <label for="productQtty">Quantidade:</label>
        <p id="productQtty" class="form-control-plaintext">{{.Qtty}}</p>
      </div>

      <a href="/" class="btn btn-primary">Voltar</a>
      <button class="btn-delete" onclick="onDelete({{.ID}})">Delete</button>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
  function onDelete(id) {
    response = confirm("Deseja mesmo deletar esse produto ?")
    if (response) {
      window.location.href = `delete?id=${id}`
    }
    return
  }
</script>

</html>

{{end}}
