{{define "Index"}}
{{template "_head"}}
<main class="container">
  <h1 class="my-4">Nossos Produtos <a class="nav-menu" href="/products">New</a>
  </h1>
  <div class="card-deck">
    {{ range .}}
    <!-- Card de produto -->
    <div class="card">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="Nome do Produto">
      <div class="card-body">
        <h5 class="card-title">{{.Name}}</h5>
        <p class="card-text">{{.Desc}}</p>
        <p class="card-text"><strong>{{.Price}}</strong></p>
        <a href="/details?id={{.ID}}" class="btn btn-primary">Ver Detalhes</a>
      </div>
    </div>
    {{end}}
  </div>
</main>

<footer class="bg-dark text-white text-center py-4 mt-5">
  <p>&copy; 2024 Tales Store. Todos os direitos reservados.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

{{end}}
